* {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

html,
body {
	height: 100%;
}

body {
  width: 100%;
	height: 100%;
	background: #000;
}

::selection {
  background: #e95324;
}

.title {
  color: #fff;
  text-align: center;
}
.title p {
  color: #fff;
  font-size: 1.3em;
}

.title .notice {
  color: #fff;
}
.title .notice span {
  color: #fff;
  font-weight: bold;
  border-bottom: #fff 2px solid;
}
/* Styles */
